.container() {
  box-sizing: border-box;
  margin: 0 auto;

  @media @mobile-widths-only {
    width: 320px;
  }

  @media @tablet-widths {
    width: 768px;
  }

  @media @desktop-widths {
    width: 1250px;
  }
}
.clearfix() {
   &::after {
      content: "";
      display: table;
      clear: both;
    }
}


.hoverActive() {
  &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.2;
    }
  .vithoutOutline();
}
.vithoutOutline(){
  &:active, &:hover, &:focus {
    outline: 0;
    outline-offset: 0;
  }
}


.hideText() {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}
