.btn {
  display: block;
  height: 20px;
  padding: 14px;

  color: #444444;
  text-decoration: none;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #444444;

}
