
.main-nav {
  position: relative;
  width: auto;
  min-height: 80px;
}

.main-nav__toggle {
  position: absolute;
  top: -64px;
  right: 0;
  z-index: 2;

  display: block;
  width: 70px;
  height: 50px;

  font-size: 0;
  background-color: @bg-white;
  cursor: pointer;

  border: none;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 31px;

  width: 20px;
  height: 2px;

  background-color: #221f1f;
  box-shadow: 0 6px 0 0 #221f1f,
              0 12px 0 0 #221f1f;
}


.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    right: 30px;

    width: 20px;
    height: 2px;

    background-color: #221f1f;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

}

.main-nav__list-main {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item a {
  display: block;
  padding-top: 26px;
  padding-left: 77px;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  height: 54px;
  background-color: @bg-white;
  border-bottom: 1px solid #ececec;
}
