.recomended-item {
  background: url("../img/wave.svg") repeat-x;
  background-position: left -8px bottom 0;
  background-size: 320px 8px;
}

  .recomended-item__wrapper {
    .container();
   padding-left: 30px;
   padding-right: 30px;
  }

.recomended-item__title {
  margin: 0;
  padding-top: 27px;
  font-size: 25px;
  line-height: 30px;
}
.recomended-item__label {
  color: @bg-menthol;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
}
.recomended-item__desc {
  color: #444444;
  font-size: 15px;
  line-height: 24px;
  padding-top: 23px;
  padding-bottom: 23px;
}
.recomended-item__desc-text {
  margin: 0;
}
.recomended-item__desc-table {
  margin-top: 17px;
}
.recomended-item__image {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 260px;
  height: 315px;
  background-image: url("../img/triple-set-mobile@1x.jpg");
}
.recomended-item__footer {
  display: flex;
  flex-direction: column;
}

.recomended-item__price {
  display: block;
  color: #444444;
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
}
.recomended-item__order{
  margin-top: 25px;
  margin-bottom: 42px;
}

@media @tablet-widths {

  .recomended-item {
    position: relative;
    background-position: left -16px bottom 0;
    background-size: auto 17px;
     &::before  {
      content: "";
      position: absolute;
      top: -12px;
      left: 0;
      width: 100vw;
      height: 12px;
      background: url("../img/wawe_tablet.svg") repeat-x;
      background-size: auto 23px;
      z-index: 500;
    }
  }

  .recomended-item__wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }

  .recomended-item__content {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .recomended-item__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .recomended-item__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 44px;
  }

  .recomended-item__label {
    width: 70px;
    padding-right: 28px;
    padding-top: 55px;
    line-height: 17px;
    text-align: center;
  }

  .recomended-item__image {
    float: right;
    box-sizing: border-box;
    margin-top: 57px;
    width: 50%;
    height: 404px;
  }

  .recomended-item__desc {
    float: left;
    box-sizing: border-box;
    margin-top: 30px;
    padding-right: 45px;
    width: 50%;
    font-size: 17px;
    line-height: 30px;
  }

  .recomended-item__footer {
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding-right: 45px;
    margin-bottom: 17px;
  }

  .recomended-item__desc-table {
    margin-top: 37px;
}

  .recomended-item__desc-table td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .recomended-item__price {
    font-size: 20px;
  }

}
@media @desktop-widths {

  .recomended-item {
    background: none;
     &::before  {
      width: 100%;
      top: -20px;
      height: 20px;
      background-size: auto 36px;
    }
  }


  .recomended-item__wrapper {
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 35px;
    background: url("../img/wave.svg") no-repeat;
    background-position: left 100px bottom 0;
    background-size: 1050px auto;


  }
.recomended-item__header {
    margin-top: 72px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 700px;
    margin-bottom: -108px;
  }

  .recomended-item__title {
    font-size: 53px;
    line-height: 57px;
    z-index: 500;
  }

  .recomended-item__label {
    padding-right: 50px;
    padding-left: 50px;
  }

  .recomended-item__desc {
    box-sizing: border-box;
    margin-top: 0;
    padding-left: 175px;
    padding-top: 130px;
    padding-bottom: 25px;
  }

  .recomended-item__image {
    margin-top: 0;
    height: 535px;
  }

  .recomended-item__footer {
    margin-top: 0;
    padding-left: 175px;
  }
}
