.reviews {
  background: url("../img/bg-zigzag-line.svg") repeat-x;
  background-position: left -8px bottom 0;
  background-size: 320px 8px;
}


.reviews__wrapper {
  display: flex;
  flex-direction: column;
  .container();
   padding-left: 30px;
   padding-right: 30px;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
}

.reviews__item {
  margin: 0;
  color: #444444;
  font-size: 16px;
  line-height: 30px;
}

.reviews__item p{
  margin-top: 5px;
}

.reviews__author‐name{
  font-style: normal;
  font-size: 17px;
}

.reviews__author‐name span{
  font-weight: bold;
  color: #000000;
}

.reviews__btns {
  margin-top: 30px;
  width: 260px;
  display: flex;
  flex-direction: row;
  border: 1px solid #ececec;
}

.reviews__btn {
  .hideText();
  width: 50%;
  display: block;
  height: 50px;

  .hoverActive();

}

.reviews__btn--prev {
  background: url(../img/icon-left-arrow.svg) no-repeat 38px 12px;
  border-right: 1px solid #ececec;
}

.reviews__btn--next {
  background: url(../img/icon-right-arrow.svg) no-repeat 38px 12px;
}

@media @mobile-widths-only {

  .reviews__write {
    margin-top: 38px;
    margin-bottom: 50px;
    order: 5;
  }
}
@media @tablet-widths {

  .reviews {
    background-position: left -16px bottom 0;
    background-size: auto 17px;
  }


  .reviews__wrapper {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: flex-end;
    padding-bottom: 130px;

    @media @tablet-widths {
      background: url(../img/review@1x.jpg) no-repeat;
    }
  }

    .reviews__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 66px;
    padding-bottom: 5px;
    width: 490px;

  }

  .reviews__btns {
    margin-top: -55px;
    border: none;
    width: 175px;
  }

  .reviews__btn {
    border: none;
  }

  .reviews__btn--prev,
  .reviews__btn--next {
    background-position: 20px 12px;
  }

  .reviews__write {
    margin-top: 90px;
    width: 145px;

  }
}

@media @desktop-widths {
  .reviews {
    .container();
    padding-left: 100px;
    padding-right: 100px;
    background: none;
    background: url(../img/review@1x.jpg) no-repeat;
    background-position: left 100px top 35px;
  }

  .reviews__wrapper {
    width: auto;
    padding-right: 0;
    padding-left: 175px;
    padding-bottom: 190px;
    background: none;
    background: url("../img/bg-zigzag-line.svg") repeat-x;
    background-position: left -26px bottom 0;
    background-size: 1050px auto;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
     width: 695px;
}
    .reviews__write {
    margin-top: 120px;
  }

}
