.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-links__item {
  .hideText();
  display: block;
  height: 30px;
  width: 30px;
}
.social-links__item--insta {
  background: url(../img/icon-insta.svg) no-repeat 4px 6px;
}
.social-links__item--fb {
  background: url(../img/icon-fb.svg) no-repeat 6px 0;
}
.social-links__item--twitter {
  background: url(../img/icon-twitter.svg) no-repeat 4px 6px;
}
